.header {
    border: 2px solid hsl(217, 16%, 45%);
    min-height: 100px;
    border-radius: 8px;
    font-family: BarlowSemiCondensedBold;
    font-weight: 700;
    color: blueviolet;
    font-size: 22px;
    line-height: 22px;
}

.score-container {
    background-color: white;
    min-height: 80%;
    border-radius: 7px;
    text-align: center;
}

.score-text {
    color: #22313f;
    height: 20%;
    font-size: 20px;
    margin-top: 3px;
}

.score-value {
    color: #e4f1fe;
    font-size: 50px;
    height: 80%;
    margin-top: 20px;
}